@charset "utf-8";
/* CSS Document */

body {
	background-color: #333;
}

#game
{
	margin-left: auto;
	margin-right: auto;
	width: 576px;
}
canvas {
	position: relative;
	width:576px;
	height:448px;
	image-rendering: optimizeSpeed;
}

#shop {
	height: 152;
	width: 576;
	background-color: #000;
}

.tower {
	width: 50px;
	height: 50px;
	padding: 10px;
	background: #333;
	text-align: center;
	border: 2px inset #666;
}

.tower:active{
	background:#999 !important;
}