@charset "utf-8";
/* CSS Document */

body {
	background-color: #333;
}

#game
{
	margin-left: auto;
	margin-right: auto;
	width: 576px;
}
canvas {
	position: relative;
	width:576px;
	height:448px;
	image-rendering: optimizeSpeed;
}

#shop {
	height: 152;
	width: 576;
	background-color: #FFF;
}

.tower {
	width: 50px;
	height: 50px;
	padding: 10px;
	background: #333;
	text-align: center;
	border: 2px inset #666;
	float: left;
}

.tower:active{
	background:#999 !important;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#scoreboard {
	color: #0F0;
	float: right;
	width: 100px;
	height: 50px;
	font-size: 20px;
font-family: 'Open Sans', sans-serif;
}